body{font-size:11px;}
label{display:block;}
input[type=text] {margin-botton: 5px}
.datatable-questionario thead {
    display: none;
}
.datatable-questionario > .ui-datatable-header {
    text-align: left;
}
.ui-autocomplete input {
    width:250px;
}

.grid .ui-widget-content
{
    border: none !important;
}

.ui-state-default .ui-icon-submit {
    background-image: url(/projeto-webapp/resources/imagens/check_green16x16.png);
}

.labeltags
{
	width:150px;
	height:20px; 
	text-align: Center; 
	color: #026890;
	font-weight:bold; 
	border: 2px solid #a6c9e2; 
	border-radius: 5px;
}