<?xml version="1.0" encoding="UTF-8"?> 
<web-app>
	<welcome-file-list> 
		<welcome-file>index.xhtml</welcome-file> 
	</welcome-file-list>

	<servlet>
	    <servlet-name>Faces Servlet</servlet-name>
	    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Faces Servlet</servlet-name>
	    <url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<login-config>
	    <auth-method>FORM</auth-method>
	    <realm-name>sistema-realm</realm-name>
	    <form-login-config>
	        <form-login-page>/login.xhtml</form-login-page>
	        <form-error-page>/login.xhtml</form-error-page>
	    </form-login-config>
	</login-config>
	
	<security-constraint>
		<display-name>Paginas Restritas</display-name>
		<web-resource-collection>
	        <web-resource-name>Protegido</web-resource-name>
	        <url-pattern>/*</url-pattern>  
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>AdministradorRole</role-name>
	    </auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Páginas Públicas</web-resource-name>
			<description>Páginas específicas com acesso público.</description>
			<url-pattern>/login.xhtml</url-pattern>
			<url-pattern>/responderAvaliacao.xhtml</url-pattern>
			<url-pattern>/resources/css/*</url-pattern>  
			<url-pattern>/resources/imagens/*</url-pattern> 
			<url-pattern>/javax.faces.resource/*</url-pattern>
		</web-resource-collection>
		<!-- sem auth-constraint significa que todos tem acesso -->
	</security-constraint>
	
	<security-role>
	    <role-name>AdministradorRole</role-name>
	</security-role>
	
	<context-param>
		<param-name>primefaces.THEMES</param-name>
		<param-name>glass-x</param-name>
	</context-param>
		
</web-app>